* {
  box-sizing: border-box;
  margin: 0;
}
body {
  min-height: 100vh;
  background-color: #231e1b;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* background-color: #ffe600; */
}
.container {
  /* background-color: #00ffff; */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-feature {
  width: 60%;
  /* background-color: blanchedalmond; */
}
.display-code {
  width: 100%;
  height: 10rem;
  border: solid 2px teal;
  border-radius: 1rem;
  padding: 1rem;
  /* background-color: blueviolet; */
  margin-bottom: 1rem;
}
.input-code {
  width: 100%;
  height: 10rem;
  border: solid 2px teal;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  /* background-color: coral; */
}
.nav-bar {
  background-color: teal;
}
.correct {
  background-color: lightgreen;
  color: green;
}
.incorrect {
  background-color: pink;
  color: red;
}

.timer-box {
  height: 1rem;
  background-color: yellow;
  margin-bottom: 1rem;
  border-radius: 1rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.timer-text {
  font-size: 2rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 1rem;
}

.modal-endgame {
  width: 80%;
  height: 80vh;
  padding: 10px 15px;
  display: none;
  margin: 0 auto;
  margin-top: 2rem;
  /* transform: translate(-50%, -50%) scale(1); */
  /* margin: 0 auto; */
  /* background-color: teal; */
  /* display: absolute;
  top: 5rem;
  left: 5rem; */
}

.result {
  background-color: #2c2d2f;
  height: 40%;
  width: 100%;
  border-radius: 1rem;
  border: grey solid 2px;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  color: white;
}

.code-encountered {
  background-color: #2c2d2f;
  height: 60%;
  width: 100%;
  border-radius: 1rem;
  border: grey solid 2px;
  padding: 1rem;
  text-align: center;
  /* display: inline-block; */
  /* text-decoration: underline; */
  color: white;

  margin-bottom: 1rem;
}
.record-element {
  background-color: teal;
  border: rgb(208, 255, 0) solid 2px;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  display: inline-block;
  margin-right: 0.5rem;
}
.title-result {
  text-decoration: underline;
  color: cyan;
  margin-bottom: 0.5rem;
}

.character-per-count {
  color: cyan;
  margin-top: 0.5rem;
}

#restart-game {
  background-color: cyan;
  width: 200px;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid rgb(#323335);
  color: rgb(#323335);
  text-align: center;
  margin: 0 auto;
  display: block;
}
.code {
  display: none;
}
